<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="dark"></ion-icon>
       
      </ion-button>
    </ion-buttons>
    <ion-title color="dark">Duoc Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Duoc Asistencia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Bienvenidos!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Con esta aplicación podrás registrar tu asistencia a clases de manera fácil y rápida.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      para poder comenzar a disfrutar de la app, porfavor despliega el menú de la izquierda
    </ion-card-content>
  </ion-card>

  
</ion-content>

