<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"
        text="volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca De</ion-title>
    </ion-toolbar>

    <ion-card>
      <ion-card-header>
        <ion-card-title>¡Sobre Nosotros!</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Como estudiantes necesitamos favilitar la toma de asistencia por lo cual decidimos crear una aplicacion que sirva para aquello.

        Esta aplicacion esta diseñada para facilitar la toma de asistencia de los alumnos en Duoc.
      </ion-card-content>
      <img src="assets/img/asistencia.png"class="ion-padding fondo img">
    </ion-card>

    

  </ion-header>
</ion-content>
